header{
    height: 112px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header-container{
    margin-top: 8px;
}

.top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 69px;
    margin-top: -13px;
}

.left-section{
    width: 530px;
    display: flex;
}

.middle-section{
    flex: 1;
    display: flex;
    position: relative;
}

.full-search-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar{
    background-color: black;
    width: 595px;
    height: 35px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(45, 45, 45);
    border-radius: 20px;
    position: relative;
}

.keyboard{
    position: absolute;
    right: 78px;
}

.magnifying-glass{
    position: absolute;
    right: 0px;
    width: 20px;
    height: 22px;
    background-color: rgba(45, 45, 45);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.microphone{
    width: 24px;
    background-color: rgb(45, 45, 45);
    position: absolute;
    right: 10px;
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
}

.right-section{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.make{
    width: 110px;
    background-color: rgb(45, 45, 45);
    color: white;
    height: 38px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 16px;
}

.add{
    font-size: 30px;
}

.opprett{
    font-size: 14px;
    margin-left: -5px;
}

.notification{
    position: relative;
    margin-right: 27px;
}

.bell-icon{
    width: 28px;
}

.notification-amount{
    position: absolute;
    top: 0px;
    right: -8px;
    background-color: rgb(222, 0, 0);
    font-size: 12px;
    width: 22px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
}

.profile-picture{
    width: 32px;
    border-radius: 20px;
    margin-right: 23px;
}

.hamburger{
    width: 23px;
    margin-left: 25px;
}

.youtube-logo{
    width: 94px;
    margin-left: 23px;
}

.search-bar::placeholder{
    color: grey;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 200;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.homepage{
    width: 230px;
    height: 100%;
}

.homepage-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    margin-left: 13px;
    padding-left: 12px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
}

.house{
    width: 21px;
}

.landing-site{
    margin-left: 22px;
    font-size: 14px;
}

nav{
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-nav-page, .nav-element{
    flex: 0 0 auto;
    font-size: 14px;
    background-color: rgb(45, 45, 45);
    text-align: center;
    margin-right: 11px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-weight: 500;
}

.current-nav-page{
    margin-left: 35px;
    background-color: white;
    color: black;
}