aside{
    background-color: black;
    position: fixed;
    top: 112px;
    left: 0px;
    bottom: 0px;
    width: 230px;
}

.sidebar-container{
    
}

.youtube-shorts{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    margin-top: 4px;
    font-size: 14px;
}

.youtube-shorts-icon{
    width: 22px;
}

.subscribers{
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 23px;
    margin-bottom: 19px;
}

.subscribers-text, .arrow{
    font-size: 16px;
}

.arrow{
    margin-left: 8px;
}

.sidebar-item, .you-sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23px;
    margin-top: 15px;
    font-size: 14px;
}

.sidebar-icon{
    width: 25px;
    border-radius: 20px;
}

.sidebar-text, .show-more{
    margin-left: 24px;
    font-weight: 200;
}

.down{
    font-size: 25px;
    margin-left: 4px;
    margin-top: -10px;
}

.show-more{
    margin-left: 32px;
    margin-top: 3px;
}

.you{
    margin-top: 6px;
    font-size: 15px;
}

.second-arrow{
    margin-left: 17px;
    margin-top: 8px;
}

.you-sidebar-item{
    margin-bottom: 18px;
}
